@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --background: #212131;
    --primary: #17171E;
    --text-bright: #e4e4e4;
    --text-light: #D3D3D3;
    --text: white;
    --text-dark: black;
    --accent: #fa48fa;
    --accent-dark: #af0baf;
    --medium: #333347;
}

* {
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background);
    font-size: 1rem;
    color: var(--text);
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input {
    font-family: "Open Sans";
}